<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Anthologies</title>
</head>
<body>
Actualizando categoría: #<span th:text="${categoriaToActualizar.id}">Id</span>
<form action="#" th:action="@{/actualizarCategoria/{id}(id=${categoriaToActualizar.id})}" th:object="${categoriaToActualizar}" method="post">
    
    <label for="nombre">Nombre de la categoría</label>
    <input type="text" th:field="*{nombre}" id="nombre">
        
     
     
     <input type="submit" value="Save Categoria">
</form>

</body>
</html>