<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Workshops</title>
</head>
<body>
	<div>
		<h1>Lista de Workshops por autor</h1>
		<h3>Escoja un autor</h3>

		<ul>
			<div th:each="entry : ${autores}">
				<li>
					<h4>
						<span th:text="${entry.nombre}">Nombre del autor</span><br />
						<a th:href="@{/workshopDeAutor/{id}(id=${entry.id})}">Ver workshops de este autor</a><br/>
					</h4>
				</li>
			</div>


		</ul>
	</div>
</body>
</html>