<html>
<head>
</head>
<body>
    Lista de workshop por categoria:
			<div th:each="entry : ${workshops}">
				<li>
					<h4>
						<span th:text="${entry.name}">Nombre</span>:<span th:text="${entry.autor}">Autor</span>:<span th:text="${entry.objetivo}">Objetivo</span>:<span th:text="${entry.categoria}">Categoria</span>:<span th:text="${entry.tiempoDuracion}">Duración</span><br/>
						<a th:href="@{/actualizar/{id}(id=${entry.id})}">Edit</a><br/>
						<a th:href="@{/detalle/{id}(id=${entry.id})}">Ver todo el detalle</a><br/>
					</h4>
				</li>
			</div>
    <a href="/">Volver al index</a>
</body>
</html>

